/* fonts */

/*noinspection CssUnknownTarget*/
@import url("https://fonts.googleapis.com/css?family=Exo+2:300&subset=latin,latin-ext");
/*noinspection CssUnknownTarget*/
@import url("https://fonts.googleapis.com/css?family=Karla&subset=latin,latin-ext");

@font-face {
    font-family: "icons";
    src: url("fonts/icons/icons.eot?69010183");
    src: url("fonts/icons/icons.eot?69010183#iefix") format("embedded-opentype"),
    url("fonts/icons/icons.woff2?69010183") format("woff2"),
    url("fonts/icons/icons.woff?69010183") format("woff"),
    url("fonts/icons/icons.ttf?69010183") format("truetype"),
    url("fonts/icons/icons.svg?69010183#icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icons", sans-serif;
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;

    font-variant: normal;
    text-transform: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
    content: "\e800";
}

.icon-github:before {
    content: "\e801";
}

.icon-email:before {
    content: "\e802";
}

/* layout */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;

    min-height: 100%;
    max-width: 340px;

    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#photo {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: center;

    height: 180px;
    width: 180px;

    margin-top: 20px;
    margin-bottom: 20px;
}

#content {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;

    padding-bottom: 40px;
}

h1#title {
    padding-bottom: 10px;
}

#bio {
    padding-bottom: 10px;
}

#bio p:not(:last-child) {
    padding-bottom: 10px;
}

ul#social-links {
    display: flex;
    flex-direction: column;
}

ul#social-links > li {
    flex-basis: 24px;
    flex-grow: 0;
    flex-shrink: 0;

    padding-top: 5px;
    padding-bottom: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

ul#social-links > li > i {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;

    display: block;
    margin-top: 2px;
    margin-right: 6px;
}

ul#social-links > li > a {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;

    display: block;
}

#footer {
    display: none;
}

/* appearance */

body {
    font-family: "Karla", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #333333;
}

#photo {
    background: url("images/photo-small.jpg") no-repeat;
    background-size: cover;
    border-radius: 50%;
}

h1#title {
    font-family: "Exo 2", sans-serif;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

#bio {
    line-height: 1.7;
    text-align: justify;
}

#bio > p {
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

ul#social-links {
    font-size: 18px;
}

ul#social-links > li > a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid black;
}

ul#social-links > li > a:hover {
    color: white;
    background-color: #52D2E8;
    border-bottom: none;
}
