body {
	font-family: 'Ubuntu Mono', sans-serif;
}

.about {
	margin: 80px auto 0 120px !important;
	padding: 15px 20px;
	width: 400px;
	background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.58);
    color: white; 
}

.about p {
	padding: 5px 0 5px;
	margin: 0;
	font-size: 0.9em;
	line-height: 1.3em;
}