@import "susy";

$total-columns  : 12;
$column-width   : 1.4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

.page {
	@include leader(2);
	@include trailer(2);
	@include container;
	//@include susy-grid-background;
}


.text {
	background-color: rgba(0, 0, 0, 0.58);
	background-origin: padding-box;
	color: white;
	display: inline;


	/* @include leader(2);
	margin-left: space(1);
	@include span-columns(10);
	background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.58);
    border-radius: 5px;
    color: white; */
}