<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Personal website of Lukáš Kubánek">
    <meta name="keywords" content="Lukas Kubanek, Objective-C, Apple, development, OOP, UML, modeling">
    <meta name="robots" content="all">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <title>Lukáš Kubánek</title>
    
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "normalize", "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    <div class="about">
	  <% data.about.paragraphs.each do |p| %>
	  <p><%= p %></p>
	  <% end %>
    </div>

    <%= partial 'layouts/tracking' %>
  </body>
</html>
